# Preprocessing data for Model 1 -- basic feedforward neural network

In [28]:
# connect to the sqlite database and create a cursor object
import sqlite3
conn = sqlite3.connect('../../data/nba_sqlite/nba.sqlite')
cursor = conn.cursor()

In [3]:
# test the connection by listing the tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('game',), ('game_summary',), ('other_stats',), ('officials',), ('inactive_players',), ('game_info',), ('line_score',), ('play_by_play',), ('player',), ('team',), ('common_player_info',), ('team_details',), ('team_history',), ('draft_combine_stats',), ('draft_history',), ('team_info_common',), ('player_box',)]

In [17]:
import pandas as pd

# print the column names of the play_by_play table and pretty print the output formatted well
cursor.execute("PRAGMA table_info(line_score)")
columns_info = cursor.fetchall()
df = pd.DataFrame(columns_info, columns=["cid", "name", "type", "notnull", "dflt_value", "pk"])
display(df)

    cid                    name       type  notnull dflt_value  pk
0     0           game_date_est  TIMESTAMP        0       None   0
1     1           game_sequence    INTEGER        0       None   0
2     2                 game_id       TEXT        0       None   0
3     3            team_id_home       TEXT        0       None   0
4     4  team_abbreviation_home       TEXT        0       None   0
5     5     team_city_name_home       TEXT        0       None   0
6     6      team_nickname_home       TEXT        0       None   0
7     7   team_wins_losses_home       TEXT        0       None   0
8     8           pts_qtr1_home       TEXT        0       None   0
9     9           pts_qtr2_home       TEXT        0       None   0
10   10           pts_qtr3_home       TEXT        0       None   0
11   11           pts_qtr4_home       TEXT        0       None   0
12   12            pts_ot1_home    INTEGER        0       None   0
13   13            pts_ot2_home    INTEGER        0       None   0
14   14            pts_ot3_home    INTEGER        0       None   0
15   15            pts_ot4_home    INTEGER        0       None   0
16   16            pts_ot5_home    INTEGER        0       None   0
17   17            pts_ot6_home    INTEGER        0       None   0
18   18            pts_ot7_home    INTEGER        0       None   0
19   19            pts_ot8_home    INTEGER        0       None   0
20   20            pts_ot9_home    INTEGER        0       None   0
21   21           pts_ot10_home    INTEGER        0       None   0
22   22                pts_home       REAL        0       None   0
23   23            team_id_away       TEXT        0       None   0
24   24  team_abbreviation_away       TEXT        0       None   0
25   25     team_city_name_away       TEXT        0       None   0
26   26      team_nickname_away       TEXT        0       None   0
27   27   team_wins_losses_away       TEXT        0       None   0
28   28           pts_qtr1_away    INTEGER        0       None   0
29   29           pts_qtr2_away       TEXT        0       None   0
30   30           pts_qtr3_away       TEXT        0       None   0
31   31           pts_qtr4_away    INTEGER        0       None   0
32   32            pts_ot1_away    INTEGER        0       None   0
33   33            pts_ot2_away    INTEGER        0       None   0
34   34            pts_ot3_away    INTEGER        0       None   0
35   35            pts_ot4_away    INTEGER        0       None   0
36   36            pts_ot5_away    INTEGER        0       None   0
37   37            pts_ot6_away    INTEGER        0       None   0
38   38            pts_ot7_away    INTEGER        0       None   0
39   39            pts_ot8_away    INTEGER        0       None   0
40   40            pts_ot9_away    INTEGER        0       None   0
41   41           pts_ot10_away    INTEGER        0       None   0
42   42                pts_away       REAL        0       None   0

In [20]:
# print the column names of the play_by_play table and pretty print the output formatted well
cursor.execute("PRAGMA table_info(play_by_play)")
columns_info = cursor.fetchall()
df = pd.DataFrame(columns_info, columns=["cid", "name", "type", "notnull", "dflt_value", "pk"])
display(df)

    cid                       name     type  notnull dflt_value  pk
0     0                    game_id     TEXT        0       None   0
1     1                   eventnum  INTEGER        0       None   0
2     2               eventmsgtype  INTEGER        0       None   0
3     3         eventmsgactiontype  INTEGER        0       None   0
4     4                     period  INTEGER        0       None   0
5     5               wctimestring     TEXT        0       None   0
6     6               pctimestring     TEXT        0       None   0
7     7            homedescription     TEXT        0       None   0
8     8         neutraldescription     TEXT        0       None   0
9     9         visitordescription     TEXT        0       None   0
10   10                      score     TEXT        0       None   0
11   11                scoremargin     TEXT        0       None   0
12   12                person1type     REAL        0       None   0
13   13                 player1_id     TEXT        0       None   0
14   14               player1_name     TEXT        0       None   0
15   15            player1_team_id     TEXT        0       None   0
16   16          player1_team_city     TEXT        0       None   0
17   17      player1_team_nickname     TEXT        0       None   0
18   18  player1_team_abbreviation     TEXT        0       None   0
19   19                person2type     REAL        0       None   0
20   20                 player2_id     TEXT        0       None   0
21   21               player2_name     TEXT        0       None   0
22   22            player2_team_id     TEXT        0       None   0
23   23          player2_team_city     TEXT        0       None   0
24   24      player2_team_nickname     TEXT        0       None   0
25   25  player2_team_abbreviation     TEXT        0       None   0
26   26                person3type     REAL        0       None   0
27   27                 player3_id     TEXT        0       None   0
28   28               player3_name     TEXT        0       None   0
29   29            player3_team_id     TEXT        0       None   0
30   30          player3_team_city     TEXT        0       None   0
31   31      player3_team_nickname     TEXT        0       None   0
32   32  player3_team_abbreviation     TEXT        0       None   0
33   33       video_available_flag     TEXT        0       None   0

In [21]:
# print the first 5 rows of the play_by_play table
cursor.execute("SELECT * FROM line_score LIMIT 10")
rows = cursor.fetchall()
df = pd.DataFrame(rows)
display(df)

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,1946-11-01 00:00:00,None,0024600001,1610610035,HUS,Toronto,Huskies,-,None,None,...,None,None,None,None,None,None,None,None,None,68.0
1,1946-11-02 00:00:00,None,0024600003,1610610034,BOM,St. Louis,Bombers,-,16,16,...,None,None,None,None,None,None,None,None,None,51.0
2,1946-11-02 00:00:00,None,0024600002,1610612738,BOS,Boston,Celtics,-,10.0,16,...,None,None,None,None,None,None,None,None,None,59.0
3,1946-11-02 00:00:00,None,0024600004,1610610025,CHS,Chicago,Stags,-,None,None,...,None,None,None,None,None,None,None,None,None,47.0
4,1946-11-02 00:00:00,None,0024600005,1610610036,WAS,Washington,Capitols,-,21,4,...,None,None,None,None,None,None,None,None,None,33.0
5,1946-11-03 00:00:00,None,0024600006,1610610035,HUS,Toronto,Huskies,-,None,None,...,None,None,None,None,None,None,None,None,None,71.0
6,1946-11-05 00:00:00,None,0024600008,1610612738,BOS,Boston,Celtics,-,13,20,...,None,None,None,None,None,None,None,None,None,57.0
7,1946-11-05 00:00:00,None,0024600009,1610610034,BOM,St. Louis,Bombers,-,None,None,...,None,None,None,None,None,None,None,None,None,49.0
8,1946-11-07 00:00:00,None,0024600011,1610610025,CHS,Chicago,Stags,-,None,None,...,None,None,None,None,None,None,None,None,None,73.0
9,1946-11-07 00:00:00,None,0024600012,1610612752,NYK,New York,Knicks,-,21,14,...,None,None,None,None,None,None,None,None,None,63.0

In [22]:
# pull the play by play for a given game_id
cursor.execute("SELECT * FROM play_by_play WHERE game_id = '0021500001'")
rows = cursor.fetchall()
df = pd.DataFrame(rows)
display(df)

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0021500001,0,12,0,1,8:12 PM,12:00,None,Start of 1st Period (8:12 PM EST),None,...,None,None,0.0,0,None,None,None,None,None,0
1,0021500001,1,10,0,1,8:12 PM,12:00,Jump Ball Horford vs. Drummond: Tip to Ilyasova,None,None,...,Pistons,DET,5.0,101141,Ersan Ilyasova,1610612765.0,Detroit,Pistons,DET,1
2,0021500001,2,2,42,1,8:13 PM,11:41,Horford BLOCK (1 BLK),None,MISS Drummond 2' Driving Layup,...,None,None,4.0,201143,Al Horford,1610612737.0,Atlanta,Hawks,ATL,1
3,0021500001,3,4,0,1,8:13 PM,11:39,Bazemore REBOUND (Off:0 Def:1),None,None,...,None,None,0.0,0,None,None,None,None,None,1
4,0021500001,4,5,45,1,8:13 PM,11:37,Bazemore Out of Bounds - Bad Pass Turnover Tur...,None,None,...,None,None,0.0,0,None,None,None,None,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,0021500001,541,3,11,4,10:22 PM,0:11,None,None,Jackson Free Throw 1 of 2 (14 PTS),...,None,None,0.0,0,None,None,None,None,None,1
464,0021500001,543,3,12,4,10:22 PM,0:11,None,None,Jackson Free Throw 2 of 2 (15 PTS),...,None,None,0.0,0,None,None,None,None,None,1
465,0021500001,545,2,1,4,10:22 PM,0:05,MISS Horford 24' 3PT Jump Shot,None,None,...,None,None,0.0,0,None,None,None,None,None,1
466,0021500001,546,4,0,4,10:22 PM,0:02,None,None,Drummond REBOUND (Off:8 Def:11),...,None,None,0.0,0,None,None,None,None,None,1
467,0021500001,548,13,0,4,10:23 PM,0:00,None,End of 4th Period (10:23 PM EST),None,...,None,None,0.0,0,None,None,None,None,None,0

In [30]:
import numpy as np

# split the play by play for this game id into chunks of roughly 4 minutes, by utilising the pctimestring column 6

def get_play_by_play_in_chunks(game_id, chunk_minutes=4):
    """
    Retrieve play-by-play data for a specific game and split it into chunks of specified minutes.
    
    Parameters:
    - game_id: The ID of the game to retrieve data for
    - chunk_minutes: Size of each chunk in minutes (default: 4)
    
    Returns:
    - DataFrame with play-by-play data and an additional 'time_chunk' column
    """

    
    # Retrieve play-by-play data for the specified game
    query = f"""
    SELECT *
    FROM play_by_play
    WHERE game_id = '{game_id}'
    ORDER BY period, eventnum
    """
    
    df = pd.read_sql_query(query, conn)
    
    if df.empty:
        return "No play-by-play data found for this game."
    
    # Function to convert pctimestring to seconds remaining in the quarter
    def time_to_seconds(time_str):
        if pd.isna(time_str):
            return np.nan
        parts = time_str.split(':')
        if len(parts) == 2:
            minutes, seconds = parts
            return int(minutes) * 60 + float(seconds)
        return np.nan
    
    # Convert pctimestring to seconds remaining in quarter
    df['seconds_remaining'] = df['pctimestring'].apply(time_to_seconds)
    
    # Calculate game time in seconds (0 = start of game)
    df['game_seconds'] = (df['period'] - 1) * 12 * 60 + (12 * 60 - df['seconds_remaining'])
    
    # Determine which chunk each play belongs to
    chunk_seconds = chunk_minutes * 60
    df['time_chunk'] = (df['game_seconds'] // chunk_seconds) + 1
    
    # Create a descriptive label for each chunk
    def format_chunk_label(chunk_num, chunk_minutes):
        start_min = (chunk_num - 1) * chunk_minutes
        end_min = chunk_num * chunk_minutes
        start_qtr = start_min // 12 + 1
        start_qtr_min = start_min % 12
        end_qtr = end_min // 12 + 1
        end_qtr_min = end_min % 12
        
        if start_qtr == end_qtr:
            return f"Q{start_qtr}: {start_qtr_min}-{end_qtr_min} min"
        else:
            return f"Q{start_qtr}: {start_qtr_min} min - Q{end_qtr}: {end_qtr_min} min"
    
    df['chunk_label'] = df['time_chunk'].apply(lambda x: format_chunk_label(x, chunk_minutes))
    
    return df

# Example usage
game_id = "0042100201"  # Replace with an actual game ID
chunked_pbp = get_play_by_play_in_chunks(game_id)

# To see the chunks distribution
if isinstance(chunked_pbp, pd.DataFrame):
    chunk_summary = chunked_pbp.groupby(['time_chunk', 'chunk_label']).size().reset_index(name='play_count')
    print(chunk_summary)

# print the first 5 and last 5 tows in the chunked play by play
display(chunked_pbp.head())
display(chunked_pbp.tail())

    time_chunk                    chunk_label  play_count
0          1.0              Q1.0: 0.0-4.0 min          28
1          2.0              Q1.0: 4.0-8.0 min          38
2          3.0  Q1.0: 8.0 min - Q2.0: 0.0 min          47
3          4.0              Q2.0: 0.0-4.0 min          35
4          5.0              Q2.0: 4.0-8.0 min          42
5          6.0  Q2.0: 8.0 min - Q3.0: 0.0 min          35
6          7.0              Q3.0: 0.0-4.0 min          32
7          8.0              Q3.0: 4.0-8.0 min          38
8          9.0  Q3.0: 8.0 min - Q4.0: 0.0 min          43
9         10.0              Q4.0: 0.0-4.0 min          35
10        11.0              Q4.0: 4.0-8.0 min          45
11        12.0  Q4.0: 8.0 min - Q5.0: 0.0 min          29
12        13.0              Q5.0: 0.0-4.0 min           1

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag,seconds_remaining,game_seconds,time_chunk,chunk_label
0,0042100201,2,12,0,1,7:34 PM,12:00,None,Start of 1st Period (7:34 PM EST),None,...,None,None,None,None,None,0,720.0,0.0,1.0,Q1.0: 0.0-4.0 min
1,0042100201,4,10,0,1,7:34 PM,12:00,Jump Ball Adebayo vs. Jordan: Tip to Butler,None,None,...,Jimmy Butler,1610612748.0,Miami,Heat,MIA,1,720.0,0.0,1.0,Q1.0: 0.0-4.0 min
2,0042100201,7,1,79,1,7:34 PM,11:45,Vincent 19' Pullup Jump Shot (2 PTS),None,None,...,None,None,None,None,None,1,705.0,15.0,1.0,Q1.0: 0.0-4.0 min
3,0042100201,8,2,1,1,7:34 PM,11:28,None,None,MISS Maxey 28' 3PT Jump Shot,...,None,None,None,None,None,1,688.0,32.0,1.0,Q1.0: 0.0-4.0 min
4,0042100201,9,4,0,1,7:34 PM,11:20,Adebayo REBOUND (Off:0 Def:1),None,None,...,None,None,None,None,None,1,680.0,40.0,1.0,Q1.0: 0.0-4.0 min

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag,seconds_remaining,game_seconds,time_chunk,chunk_label
443,0042100201,639,1,1,4,9:50 PM,0:44,Yurtseven 14' Jump Shot (6 PTS) (Herro 7 AST),None,None,...,None,None,None,None,None,1,44.0,2836.0,12.0,Q4.0: 8.0 min - Q5.0: 0.0 min
444,0042100201,641,2,1,4,9:50 PM,0:32,None,None,MISS Thybulle 24' 3PT Jump Shot,...,None,None,None,None,None,1,32.0,2848.0,12.0,Q4.0: 8.0 min - Q5.0: 0.0 min
445,0042100201,642,4,0,4,9:50 PM,0:31,HEAT Rebound,None,None,...,None,None,None,None,None,0,31.0,2849.0,12.0,Q4.0: 8.0 min - Q5.0: 0.0 min
446,0042100201,644,5,11,4,9:51 PM,0:07,HEAT Turnover: Shot Clock (T#13),None,None,...,None,None,None,None,None,0,7.0,2873.0,12.0,Q4.0: 8.0 min - Q5.0: 0.0 min
447,0042100201,645,13,0,4,9:51 PM,0:00,None,End of 4th Period (9:51 PM EST),None,...,None,None,None,None,None,1,0.0,2880.0,13.0,Q5.0: 0.0-4.0 min

In [46]:
def add_scores_to_pbp(pbp_df):
    """
    Add home and away scores to play-by-play data.
    
    Parameters:
    - pbp_df: DataFrame containing play-by-play data
    
    Returns:
    - DataFrame with additional 'pts_home' and 'pts_away' columns
    """
    
    # Retrieve line score data for the specified game
    game_id = pbp_df['game_id'].iloc[0]
    query = f"""
    SELECT *
    FROM line_score
    WHERE game_id = '{game_id}'
    """
    
    line_score = pd.read_sql_query(query, conn)
    
    if line_score.empty:
        return "No line score data found for this game."
    
    # Get the scalar values from the line_score DataFrame
    home_score = line_score['pts_home'].iloc[0]
    away_score = line_score['pts_away'].iloc[0]
    
    # Add these scores to every row in the play-by-play DataFrame
    pbp_df = pbp_df.copy()  # Create a copy to avoid SettingWithCopyWarning
    pbp_df['pts_home'] = home_score
    pbp_df['pts_away'] = away_score
    
    return pbp_df

# Example usage
chunked_pbp_scores = add_scores_to_pbp(chunked_pbp)

# print the first 5 and last 5 rows in the chunked play by play
display(chunked_pbp_scores.head())
display(chunked_pbp_scores.tail())

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag,seconds_remaining,game_seconds,time_chunk,chunk_label,pts_home,pts_away
0,0042100201,2,12,0,1,7:34 PM,12:00,None,Start of 1st Period (7:34 PM EST),None,...,None,None,None,0,720.0,0.0,1.0,Q1.0: 0.0-4.0 min,106.0,92.0
1,0042100201,4,10,0,1,7:34 PM,12:00,Jump Ball Adebayo vs. Jordan: Tip to Butler,None,None,...,Miami,Heat,MIA,1,720.0,0.0,1.0,Q1.0: 0.0-4.0 min,106.0,92.0
2,0042100201,7,1,79,1,7:34 PM,11:45,Vincent 19' Pullup Jump Shot (2 PTS),None,None,...,None,None,None,1,705.0,15.0,1.0,Q1.0: 0.0-4.0 min,106.0,92.0
3,0042100201,8,2,1,1,7:34 PM,11:28,None,None,MISS Maxey 28' 3PT Jump Shot,...,None,None,None,1,688.0,32.0,1.0,Q1.0: 0.0-4.0 min,106.0,92.0
4,0042100201,9,4,0,1,7:34 PM,11:20,Adebayo REBOUND (Off:0 Def:1),None,None,...,None,None,None,1,680.0,40.0,1.0,Q1.0: 0.0-4.0 min,106.0,92.0

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,...,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag,seconds_remaining,game_seconds,time_chunk,chunk_label,pts_home,pts_away
443,0042100201,639,1,1,4,9:50 PM,0:44,Yurtseven 14' Jump Shot (6 PTS) (Herro 7 AST),None,None,...,None,None,None,1,44.0,2836.0,12.0,Q4.0: 8.0 min - Q5.0: 0.0 min,106.0,92.0
444,0042100201,641,2,1,4,9:50 PM,0:32,None,None,MISS Thybulle 24' 3PT Jump Shot,...,None,None,None,1,32.0,2848.0,12.0,Q4.0: 8.0 min - Q5.0: 0.0 min,106.0,92.0
445,0042100201,642,4,0,4,9:50 PM,0:31,HEAT Rebound,None,None,...,None,None,None,0,31.0,2849.0,12.0,Q4.0: 8.0 min - Q5.0: 0.0 min,106.0,92.0
446,0042100201,644,5,11,4,9:51 PM,0:07,HEAT Turnover: Shot Clock (T#13),None,None,...,None,None,None,0,7.0,2873.0,12.0,Q4.0: 8.0 min - Q5.0: 0.0 min,106.0,92.0
447,0042100201,645,13,0,4,9:51 PM,0:00,None,End of 4th Period (9:51 PM EST),None,...,None,None,None,1,0.0,2880.0,13.0,Q5.0: 0.0-4.0 min,106.0,92.0

In [ ]:
## TODO: MAKE THIS MORE EFFICIENT -- CURRENTLY TAKES FOREVER

from tqdm.auto import tqdm
import sys

# now let's chunk the data and add the scores for all unique game ids in the play by play table
unique_game_ids = pd.read_sql_query("SELECT DISTINCT game_id FROM play_by_play", conn)['game_id']
total_games = len(unique_game_ids)
all_chunked_pbp = []

# Force display output without buffering
for i, game_id in enumerate(unique_game_ids):
    # Manual progress tracking with clear output
    print(f"Processing game {i+1}/{total_games}: {game_id}", end="\r")
    sys.stdout.flush()
    
    chunked_pbp = get_play_by_play_in_chunks(game_id)
    if isinstance(chunked_pbp, pd.DataFrame):
        chunked_pbp_scores = add_scores_to_pbp(chunked_pbp)
        all_chunked_pbp.append(chunked_pbp_scores)

print("\nProcessing complete!                ")  # Clear the progress line

# Combine all DataFrames into a single DataFrame
all_chunked_pbp = pd.concat(all_chunked_pbp)

#save the data to a csv file
all_chunked_pbp.to_csv("chunked_pbp_with_scores.csv", index=False)

# print the first 5 and last 5 rows in the chunked play by play
display(all_chunked_pbp.head())
display(all_chunked_pbp.tail())

/Users/rohan/Desktop/nba-mvp/.venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

KeyboardInterrupt: